/* style.css */

.container1{
    display: flex;
    height:100vh;
    /* default*/
    flex-wrap: wrap;
    align-content:flex-start;
    border: 20px solid black;
}
.container2{
    display: flex;
    height:100vh;
    flex-wrap: wrap;
    align-content: flex-end;
    border: 20px solid black;
}
.container3{
    display: flex;
    height:100vh;
    flex-wrap: wrap;
    align-content: center;
    border: 20px solid black;
}
.container4{
    display: flex;
    height:100vh;
    flex-wrap: wrap;
    align-content: space-between;
    border: 20px solid black;
}
.container5{
    display: flex;
    height:100vh;
    flex-wrap: wrap;
    align-content: space-around;
    border: 20px solid black;
}
.container6{
    display: flex;
    height:100vh;
    flex-wrap: wrap;
    align-content: space-evenly;
    border: 20px solid black;
}
.box1{
    width: 150px;
    height: 150px;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    background-color: hsl(0, 100%, 70%);
}
.box2{
    width: 150px;
    height: 150px;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    background-color: hsl(111, 100%, 70%);
}
.box3{
    width: 150px;
    height: 150px;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    background-color: hsl(214, 100%, 70%);
}
.box4{
    width: 150px;
    height: 150px;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    background-color: hsl(64, 82%, 48%);
}
.box5{
    width: 150px;
    height: 150px;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    background-color: hsl(34, 85%, 50%);
}
.box6{
    width: 150px;
    height: 150px;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    background-color: hsl(290, 88%, 52%);
}

